/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;700&display=swap');
/* /////////////////////////// */
/* Font Family */
/* /////////////////////////// */
body {
  font-family: 'Oswald', sans-serif;
}

/* /////////////////////////// */
/* Root Variables */
/* /////////////////////////// */
:root {
  --tw-gradient-stops: #130a28 0%, #2f81d3 40%, #a8bcd5 80%;
  --tw-gradient-stops-infocard: #241475 0%, #5d6ad0 40%, #b4b8db 60%,
    #c6c9ce 100%;
}

/* /////////////////////////// */
/* Keyframes */
/* /////////////////////////// */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeInAndUpLand {
  from {
    transform: translateY(300px);
  }
  to {
    transform: translateY(100px);
  }
}

@keyframes fadeInAndUpSky {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(-400px);
  }
}

@keyframes fadeInAndDown {
  from {
    transform: translateY(-600px);
  }
  to {
    transform: translateY(-200px);
  }
}
@keyframes fadeInAndUp {
  from {
    opacity: 0;
    transform: translateY(200px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes fadeInScaleDown {
  from {
    opacity: 0;
    transform: scale(1.2);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes alertBounce {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }

  25% {
    opacity: 1;
    transform: translateY(-10px);
  }
  40% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(0);
  }
  90% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(50px);
    opacity: 0;
  }
}

/* /////////////////////////// */
/* Animations */
/* /////////////////////////// */
.fade-in {
  animation: fadeIn 2s ease-in-out forwards;
}
.fade-in-quick {
  animation: fadeIn 0.5s ease-in-out forwards;
}
.fade-in-scale-down {
  animation: fadeInScaleDown 2s ease-in-out forwards;
}

.fade-in-and-up-sky {
  animation: fadeInAndUpSky 2s ease-in-out forwards;
}

.fade-in-and-up-land {
  animation: fadeInAndUpLand 2s ease-in-out forwards;
}

.fade-in-and-down {
  animation: fadeInAndDown 2s ease-in-out forwards;
}
.fade-in-and-up {
  animation: fadeInAndUp 2s ease-in-out forwards;
}

.alert-bounce {
  animation: alertBounce 3s ease-in-out forwards;
}
/* /////////////////////////// */
/* General Resets */
/* /////////////////////////// */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  box-sizing: border-box;
  background-color: #130a28;
}

ul,
li {
  list-style: none;
}

/* /////////////////////////// */
/* SVG Styling */
/* /////////////////////////// */
#sun-svg {
  left: -55%;
}

/* Loader */

.loader {
  width: 48px;
  height: 48px;
  position: relative;
}
.loader::before,
.loader::after {
  content: "";
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 48em;
  height: 48em;
  background-image: radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0),
    radial-gradient(circle 10px, #fff 100%, transparent 0);
  background-position: 0em -18em, 0em 18em, 18em 0em, -18em 0em, 13em -13em,
    -13em -13em, 13em 13em, -13em 13em;
  background-repeat: no-repeat;
  font-size: 0.5px;
  border-radius: 50%;
  animation: blast 1s ease-in infinite;
}
.loader::after {
  font-size: 1px;
  background: #fff;
  animation: bounce 1s ease-in infinite;
}

@keyframes bounce {
  0%,
  100% {
    font-size: 0.75px;
  }
  50% {
    font-size: 1.5px;
  }
}
@keyframes blast {
  0%,
  40% {
    font-size: 0.5px;
  }
  70% {
    opacity: 1;
    font-size: 4px;
  }
  100% {
    font-size: 6px;
    opacity: 0;
  }
}

/* autocomplete container */

.autocomplete-container > div > div {
  background-color: #f3f4f6 !important;
  border: 2px solid #e5e7eb;
  font-size: 1.25rem;
}

.autocomplete-container svg {
  display: none;
}

@media (min-width: 768px) {
  .autocomplete-container > div > div {
    font-size: 1.5rem;
  }
}

#skewHero {
  --tw-skew-x: -30deg;
  transform: translate(var(--tw-translate-x, 0), var(--tw-translate-y, 0))
    rotate(var(--tw-rotate, 0)) skewX(var(--tw-skew-x))
    skewY(var(--tw-skew-y, 0)) scaleX(var(--tw-scale-x, 1))
    scaleY(var(--tw-scale-y, 1));
}
